#activity-container {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
}

#activity-view {
  .buttons { text-align: right; }
  .mean-button.active { background-color: orange; }
  .trend-button.active { background-color: orangered; }
  path, line {
    fill: none;
  }
}

.activity-line {
  path, line {
    stroke: steelblue;
    stroke-width: 2;
  }
}

.activity-axis {
  path, line {
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
  text {
    font-family: sans-serif;
    font-size: 11px;
  }
}

.mean-line, .trend-line {
  display: none;
  &.active { display: block; }
  path, line { stroke-width: 2; }
}

.mean-line {
  path, line { stroke: orange; }
}

.trend-line {
  path, line { stroke: orangered; }
}


@media (max-width: 700px) {
  .buttons { text-align: center; }
  .mean-button.btn, .trend-button.btn {
   width: 48%;
 }
}