* {
  box-sizing: border-box;
}

.activityLine {
  path, line {
    fill: none;
    stroke: dodgerblue;
    stroke-width: 2;
  }
}
.activityAxis {
  path, line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  text {
    font-family: sans-serif;
    font-size: 11px;
  }
}


.date-picker-button {
  width: 110px;
  margin: 0 10px 0 0;
  float: right;
}