.btn {
  width: 120px;
  padding: 12px;
  margin-right: 10px;
  display: inline-block;
  text-shadow: none;
}

@media (max-width: 768px) {
  .btn {
    width: 100px;
    padding: 10px;
    margin-right: 5px;
    font-size: .9em;
  }
}

@media (max-width: 630px) {
  .btn {
    width: 70px;
    font-size: .8em;
  }
}