#date-picker-view {
  text-align: right;
  select {
    display: none;
    margin-bottom: 14px;
  }
  .btn {
    &.selected { background-color: paleturquoise; }
  }
}

@media (max-width: 500px) {
  .date-picker-buttons { display: none; }
  .date-picker-col { width: 100%; }
  #date-picker-view {
    select { display: block; }
  }
}