#date-picker-view {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  height: inherit;
  padding-top: 15px;
  padding-left: 20px;
  select { display: none; }
}

@media (max-width: 500px) {
  .date-picker-buttons { display: none; }
  #date-picker-view {
    select { display: block; }
  }
}

