!!!

%head
  %title MB Coding Challenge
  %meta{ :name => 'viewport', :content => 'width=device-width, user-scalable=no, initial-scale=1' }
  = css :app
  = js :js_lib
  = js :app
  = erb :app_boot

%body
  #content-container
    .container-fluid
      .row
        .col-xs-3.activity-title-col
          %h2 Activity
        .col-xs-9.date-picker-col
          #date-picker-view
            .date-picker-buttons
            %select.form-control
      .row
        .col-xs-12
          #activity-view
            .field
            .buttons
              %button.mean-button.btn.btn-default Mean line
              %button.trend-button.btn.btn-default Trend line

      .row
        .col-xs-12.col-sm-6.centered-col
          %h2 Segments
          #segment-view
            %h4.total
            %button.male-button.btn.btn-default
            %button.female-button.btn.btn-default
        .col-xs-12.col-sm-6.centered-col
          %h2 Devices
          #device-view

