!!!

%head
  %title MB Coding Challenge
  %meta{ :name => 'viewport', :content => 'width=device-width, user-scalable=no, initial-scale=1' }
  %script{ :src => '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js' }
  %script{ :src => '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js' }
  %script{ :src => '//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js' }
  %script{ :src => '//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js' }
  = css :main
  = js :main
  = erb :app_start

%body
  #activity-container
    .container-fluid
      .row
        .col-xs-2
          %h2 Activity
        .col-xs-10
          #date-picker-view
      .row
        .col-xs-12
          #activity-view
