!!!

%head
  %script{ :src => '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js' }
  %script{ :src => '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js' }
  %script{ :src => '//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js' }
  = css :main
  = js :main
  %script
    App.events = new App.eventCollection;
    App.events.reset(
    =@json_data
    );
    App.start;

%body
